:root {
  /* line heights */
  --line-height-s: 16px;
  --line-height-m: 24px;
  --line-height-l: 36px;

  /* font sizes */
  --font-size-xs: 0.75rem; /* 12px */
  --font-size-s: 0.875rem; /* 14px */
  --font-size-m: 1rem; /* 16px */
  --font-size-l: 1.125rem; /* 18px */
  --font-size-xl: 1.25rem; /* 20px */
  --font-size-xxl: 1.625rem; /* 26px */

  /* font weights */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
}

@mixin typography($fontSize, $lineHeight, $fontWeight) {
  margin: 0;

  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;
  color: var(--color-text-primary);
}
