/* stylelint-disable-next-line scss/double-slash-comment-whitespace-inside */
//!! Скорее всего нужно добавить адаптив

.header {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 38px;

  width: 100%;
  max-width: 972px;
  min-height: 200px;
  margin-bottom: 16px;
}

.avatar {
  width: 200px;
  height: 200px;
}

.infoHeader {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;

  padding: 0.5rem 0;
}
