$z-index-modal-overlay: 100;
$z-index-modal-content: 101;
$color-modal-element-hover: var(--color-dark-100);
$transition-duration-basic: 0.3s;
$color-bg-element: var(--color-dark-300);

.overlay {
  position: fixed;
  z-index: $z-index-modal-overlay;
  inset: 0;
  background-color: rgb(0 0 0 / 50%);
}

.content {
  position: fixed;
  z-index: $z-index-modal-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  overflow: auto;

  max-height: calc(100% - 32px);

  background-color: $color-bg-element;
  border: 1px solid var(--color-dark-100);
  border-radius: 2px;

  &.sm {
    width: 378px;
  }

  &.md {
    width: 492px;
  }

  &.lg {
    width: 644px;
  }

  &.xlg {
    width: 972px;
  }

  @media screen and (width <= 768px) {
    &,
    &.sm,
    &.md,
    &.lg,
    &.xlg, {
      width: calc(100% - 32px);
    }
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 11px 24px;

  border-bottom: 1px solid var(--color-dark-100);
}

.title {
  margin: 0;
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-l);
}

.contentBox {
  position: relative;
  padding: 0;
}

.scrollbar {
  overflow: auto;
  max-height: calc(100vh - 32px);
}

.closeButton {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 36px;
  height: 36px;
  padding: 0;

  background: transparent;
  border: none;
  border-radius: 50%;

  transition: $transition-duration-basic background-color;

  &:hover,
  &:focus-visible {
    background-color: $color-modal-element-hover;
    outline: none;
  }
}

.nextButton {
  display: flex;
  justify-content: center;
  width: 61px;
}

.previousButton {
  padding: 0;
}
