.button {
  cursor: pointer;
  user-select: none;

  display: inline-flex;
  gap: 0.75rem;
  align-items: center;
  justify-content: center;

  padding: 0.375rem 1.5rem;

  font-size: var(--font-size-m); /* 16px */
  font-weight: var(--font-weight-semi-bold); /* 600 */
  line-height: var(--line-height-m); /* 24px */
  text-align: center;
  text-decoration: none;

  background-color: transparent;
  border: none;
  border-radius: 2px;

  transition: all 0.3s ease 0s;

  &:focus-visible {
    outline: 2px solid var(--color-outline-focus);
  }

  &:disabled,
  &.disabled {
    cursor: initial;
  }

  &.fullWidth {
    justify-content: center;
    width: 100%;
  }
}

.primary {
  color: var(--color-light-100);
  background-color: var(--color-accent-500);

  &:hover {
    background-color: var(--color-accent-100);
  }

  &:active {
    background-color: var(--color-accent-700);
  }

  &:disabled,
  &.disabled {
    color: var(--color-light-900);
    background-color: var(--color-accent-900);
  }
}

.secondary {
  color: var(--color-light-100);
  background-color: var(--color-dark-300);

  &:hover {
    background-color: var(--color-dark-100);
  }

  &:active {
    background-color: #212121;
  }

  &:disabled,
  &.disabled {
    color: var(--color-light-900);
    background-color: var(--color-dark-500);
  }

  &:focus-visible {
    outline: 1px solid var(--color-accent-300);
  }
}

.outlined {
  color: var(--color-accent-500);
  border: 1px solid var(--color-accent-500);

  &:hover {
    color: var(--color-accent-100);
    border-color: var(--color-accent-100);
  }

  &:active {
    color: var(--color-accent-700);
    border-color: var(--color-accent-700);
  }

  &:disabled,
  &.disabled {
    color: var(--color-accent-900);
    border-color: var(--color-accent-900);
  }

  &:focus-visible {
    color: var(--color-accent-700);
  }
}

.text {
  color: var(--color-accent-500);

  &:hover {
    color: var(--color-accent-100);
  }

  &:active {
    color: var(--color-accent-700);
  }

  &:disabled,
  &.disabled {
    color: var(--color-accent-900);
  }
}
