.page {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 36px 64px;
}

.tabs {
  max-width: 972px;
}

.tabsList {
  margin-bottom: 24px;
}

@media screen and (width <= 576px) {
  .page {
    padding: 24px 15px;
  }
}
