.header {
  display: grid;
  grid-auto-rows: min-content;
  grid-template: auto / auto 1fr;
  grid-template-areas:
    'avatar name btn'
    'avatar stats stats'
    'avatar aboutMe aboutMe';
  gap: 24px;

  box-sizing: border-box;
  width: 100%;
  max-width: 972px;
  min-height: 200px;
  margin: 12px auto 48px;
}

.aboutMe {
  overflow: hidden;
  display: -webkit-box;
  grid-area: aboutMe;

  text-align: start;
  text-overflow: ellipsis;
  word-break: break-all;

  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
}

.btn {
  grid-area: btn;
  align-self: flex-start;
}

.avatar {
  grid-area: avatar;
  align-self: flex-start;
}

.name {
  grid-area: name;
  font-weight: bold;
}

.stats {
  grid-area: stats;
}

@media screen and (width <= 1024px) {
  .header {
    gap: 12px;
    width: 90%;
    max-width: 948px;
  }
}

@media screen and (width <= 768px) {
  .header {
    grid-template-areas:
      'avatar name btn'
      'avatar stats stats'
      'aboutMe aboutMe aboutMe';
    grid-template-rows: auto auto auto;
    gap: 6px;

    max-width: 768px;
    margin-bottom: 15px;
  }

  .name {
    text-align: start;
  }

  .avatar {
    width: 144px;
    height: 144px;
  }
}

@media screen and (width <= 576px) {
  .header {
    grid-template-areas:
      'avatar stats'
      'name .'
      'btn btn'
      'aboutMe aboutMe';
    place-items: start;
  }

  .avatar {
    width: 72px;
    height: 72px;
  }

  .name {
    font-size: var(--font-size-m);
    line-height: var(--line-height-m);
  }

  .aboutMe {
    font-size: var(--font-size-s);
    line-height: var(--line-height-m);
  }

  .btn {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .btn button {
    width: 100%;
    min-width: 330px;
    height: 48px;
    margin-bottom: 12px;
  }
}
