.avatarContainer {
  display: flex;
  grid-area: profile;
  gap: 12px;
  align-items: center;

  padding: 12px 24px;

  border-bottom: 1px solid var(--color-dark-100);
}

.dots {
  position: relative;
  margin-left: auto;
}

.dots[data-state="open"] {
  color: var(--color-accent-500);
}

.dropdown {
  left: -60px;
  max-width: 180px;
  padding: 12px 12px 12px 6px;
}

.menuItem {
  cursor: pointer;

  display: flex;
  gap: 12px;
  align-items: center;

  padding: 6px;

  font-size: var(--font-size-s);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-m);
  text-align: left;
}

@media screen and (orientation: portrait) and (width <= 1024px) {
  .dots {
    margin-right: 20px;
  }
}
