.stats  {
max-height: 110px;
  padding: 12px 24px 7px;
  border-top: 1px solid var(--color-dark-100);

  .likeSaveSetBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.2rem;

    .likeAndSet {
      display: flex;
      gap: 1.5rem;
      align-items: center;
    }
  }

  .heart svg{
    display: flex;
    width: 24px;
    height: 24px;
    color: var(--color-danger-500);
  }

  .viewsAndCount {
    display: flex;
    gap: 1.45rem;

    .views {
      display: flex;
      align-items: center;

      .view {
        width: 24px;
        height: 27px;
        margin-right: -0.7rem;

        background-color: var(--color-dark-100);
        border-radius: 50%;
      }
    }

    .count {
      display: flex;
      gap: 4px;
      align-items: center;
    }

    .heartCount {
      display: flex;
      color: var(--color-danger-500);
    }
  }
}

.likes {
  display: flex;
  gap: 4px;
  align-items: center;
}

.date {
  color: var(--color-light-900);
}

.message {
  display: none;
}

@media screen and (width <= 768px) {
  .stats {
    flex-direction: row;
    gap: 12px;
    align-items: center;

    padding: 12px 8px;

    border-top: 1px solid var(--color-dark-100);
  }

.message {
  display: block !important;
}
}