.container {
  width: 100%;
  margin-top: 20px;
}

.comments {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.noComments {
  color: var(--color-text-secondary);
  text-align: center;
}

@media screen and (orientation: landscape) and (height <= 640px) {
  .comments {
    gap: 12px;
  }

  .comment h3 {
    font-size: var(--font-size-s);
  }

  .comment p {
    font-size: var(--font-size-xs);
  }
}

.stats {
  display: flex;
}

.stats span {
  margin: 0 5px;
  color: var(--color-light-900);
}