.page {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 24px 60px;

  p {
    margin-bottom: 10px;
  }

  h2 {
    margin: 20px 0;
  }
}

.article {
  width: 100%;
  padding: 0 100px;
}

.heading {
  margin: 20px auto;
}

.policiesBtn {
  position: relative;
  padding: 0;
  color: var(--color-text-primary);
}

.btnText {
  display: inline-block;
}

@media screen and (width <= 768px) {
  .article {
    padding: 0;
  }
}

@media screen and (width <= 576px) {
  .page {
    padding: 17px 15px;

    h2 {
      font-size: var(--font-size-m);
      line-height: var(--line-height-s);
    }
  }

  .heading {
    margin-top: -30px;
    margin-bottom: 14px;
    font-size: var(--font-size-l);
    line-height: var(--line-height-m);
  }

  .btnText {
    position: absolute;
    overflow: hidden;
    width: 0;
    height: 0;
  }
}

@media screen and (width <= 390px) {
  .heading {
    max-width: 280px;
  }
}
