.trigger {
  all: unset;

  cursor: pointer;

  display: flex;

  padding: 6px;

  background-color: rgb(23 23 23 / 80%);
  border-radius: 2px;

  transition: color 0.3s ease 0s;

  span {
    display: flex;
  }

  &[data-state="open"],
  &:hover {
    color: var(--color-accent-500);
  }

  &:focus-visible {
    outline: 2px solid var(--color-outline-focus);
  }
}

.content {
  z-index: 999;

  min-width: 156px;
  padding: 10px 12px;

  background-color: rgb(23 23 23 / 80%);
  border-radius: 2px;
}

.viewport {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.item {
  cursor: pointer;
  user-select: none;

  display: flex;
  align-items: center;
  justify-content: space-between;

  line-height: 24px;
  color: var(--color-light-900);

  transition: all 0.3s ease;

  .indicator-1-1,
  .indicator-4-5,
  .indicator-16-9 {
    display: block;

    border: 2px solid;
    border-color: var(--color-light-900);
    border-radius: 3px;

    transition: inherit;
  }

  .indicator-1-1 {
    width: 18px;
    height: 18px;
  }

  .indicator-4-5 {
    width: 18px;
    height: 26px;
  }

  .indicator-16-9 {
    width: 26px;
    height: 20px;
  }

  &[data-highlighted] {
    color: var(--color-text-primary);
    outline: none;

    .indicator-1-1,
    .indicator-4-5,
    .indicator-16-9 {
      border-color: var(--color-text-primary);
    }
  }
}
