.list {
  display: grid;
  grid-auto-rows: min-content;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;

  width: 100%;
  margin-bottom: 150px;
  padding: 0;
}


@media screen and (width <= 1024px) {
  .list {
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
    margin: 0 auto;
  }
}

@media screen and (width <= 768px) {
  .list {
    gap: 6px;
    margin-bottom: 50px;
  }
}


@media screen and (width <= 576px) {
  .list {
    width: 100%;
min-width: 330px;
  }
}
