.list {
  display: grid;
  grid-template-columns: repeat(4, minmax(234px, 1fr));
  gap: 12px;

  width: 100%;
  max-width: 1024px;
  margin: 0 auto 150px;
  padding: 0;
}

.list-item {
  aspect-ratio: 1 / 1; /* Квадратный формат */
  width: 100%;
  background-color: #ccc; /* Примерный цвет для тестирования */
}

@media screen and (width <= 1024px) {
  .list {
    grid-template-columns: repeat(3, minmax(108px, 1fr));
    margin: 0 auto 100px;
    padding: 20px;
  }
}

@media screen and (width <= 768px) {
  .list {
    gap: 8px;
    width: 100%;
    margin: 0 auto 50px;
  }
}

@media screen and (width <= 576px) {
  .list {
    gap: 6px;
  }
}
