.form {
  display: flex;
  flex-direction: column;
  gap: 24px;

  width: 433px;
  height: 100%;
 margin: 0 auto;

  & textarea {
    scrollbar-width: thin;
    overflow-y: auto;
  }
}

.formContainer {
  position: relative;
  width: 100%;
  margin: 12px auto 0;
}

.textAreaCount {
  position: absolute;
  right: 0;
  color: var(--color-light-900);
}

.formButton {
  align-self: flex-end;
  min-width: 160px;
  margin-top: 260px;
}