.conteiner {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Выравнивание по правому краю */

  width: calc(100% - 24px);
  padding: 20px;
}

.modalText {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: var(--line-height-m);
  text-align: start;
}

.btnConteiner {
  display: block; /* По умолчанию - блочный */
}

.btn {
  width: 96px;
  margin: 10px 24px; /* Отступ между кнопками */
  margin-right: 0;
}

@media screen and (width <= 576px) { /* Измените width на max-width */
  .conteiner {
    align-items: center;
    width: calc(100% - 15px);
    margin: 0 auto;
  }

  .modalText {
    text-align: center;
  }
  
  .btnConteiner {
    display: flex;
    flex-direction: column; /* Вертикальное расположение кнопок */
    align-items: center; /* Выравнивание кнопок по левому краю */
    width: 100%; /* Занять всю ширину */
  }

  .btn {
    width: calc(100% - 15px); /* Ширина кнопок для мобильной версии */
    margin: 10px 0;
  }
}