/* stylelint-disable-next-line scss/double-slash-comment-whitespace-inside */
//!! Скорее всего нужно добавить адаптив

.page {
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;

  width: 100%;
  padding: 36px 64px;
}
