.form {
  display: flex;
  flex-direction: column;
  gap: 24px;

  & textarea {
    scrollbar-width: thin;
    overflow-y: auto;
  }
}

.formContainer {
  position: relative;
  width: 100%;
  max-width: 433px;
  margin: 12px auto 0;
}

.textAreaCount {
  position: absolute;
  right: 0;
  margin-top: 4px;
  color: var(--color-light-900);
}

.formButton {
  align-self: flex-end;
  min-width: 160px;
  margin-top: 260px;
  margin-right: 24px;
}

@media screen and (width <= 1024px) {
  .formContainer {
    width: calc(100% - 24px);
  }

  .formButton {
    margin-right: 14px;
  }
}

@media screen and (width <= 768px) {
  .formButton {
    align-self: center;
    width: calc(100% - 24px);
    margin-top: 20px;
    margin-right: 0;
  }
}

@media screen and (width <= 390px) {
  .formContainer {
    margin: 0 auto;
  }

  .formButton {
    margin-top: 0;
    font-size: var(--font-size-s);
  }
}
