.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.label {
  font-size: var(--font-size-s);
  color: var(--color-text-secondary);

  &.required {
    &::after {
      content: '*';
      color: var(--color-text-error);
    }
  }
}

.textarea {
  resize: none;

 overflow: hidden;

  width: 100%;
  min-height: 40px;
  padding: 6px 12px;

  color: var(--color-text-primary);

  background-color: var(--color-dark-500);
  border: 1px solid var(--color-dark-100);
  border-radius: 2px;
  outline: 0;

  transition:
    color 0.2s ease-in,
    border-color 0.2s ease-in;

  &::placeholder {
    font-size: var(--font-size-m);
    line-height: var(--line-height-m);
    color: var(--color-light-900);
  }

  &:disabled {
    color: var(--color-dark-100);
  }

  &:focus {
    border-color: var(--color-accent-500);
    outline: 1px solid var(--color-accent-500);
    transition: outline 0.3s ease;
  }

  &:active:not(:disabled) {
    color: var(--color-light-100);
  }

  &.error {
    color: var(--color-light-100);
    outline: 1px solid var(--color-danger-500);
    transition: outline 0.3s ease;
  }

  &:hover:enabled:not(:disabled, :focus-visible, .error) {
    border: 1px solid var(--color-light-900);
    outline: 1px solid var(--color-dark-100);
  }
}

.error {
  font-size: var(--font-size-s);
  line-height: var(--line-height-m);
  color: var(--color-danger-500);
  transition: color 0.3s ease;
}

.disabled {
  color: var(--color-light-900);
}
